#no-mobile{
    background-color: blue;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 35px;
    z-index: 99;
}

@media screen and (max-width:700px){
    #no-mobile{
        display: none;
    }
}